.home-container{
    min-height: 90vh;

    .add-btn{

        background-color: cadetblue;
        color: white;
        font-size: 2rem;
    }

    .modal-container{
        position: relative;
    }
}
