.home-container{
    min-height: 90vh;

    .add-btn{
        background-color: cadetblue;
        color: white;
        font-size: 2rem;
        font-family: Roboto;
        margin: 50px;
    }

    .modal-container{
        position: relative;
    }
}
